.text-box {
  width: calc(100% - 80px); /* Adjust the width as needed */
  margin: 20px;
  padding: 10px;
  resize: vertical; /* Allow vertical resizing */
}

.level-container {
  display: flex;
  margin-bottom: 20px;
}

.additional-options-container {
  display: flex;
}

.additional-option-container {
  margin-right: 40px; /* Increase the margin for more space */
}

.folder {
  margin-top: 20px;
}

/* Vertical space between levels */
.additional-options-container {
  margin-top: 20px;
}

/* Vertical space between elements */
.additional-options + .additional-option-container,
.tree-container + .additional-option-container {
  margin-top: 20px;
}

/* Additional CSS for styling as needed */

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add space */
}

.footer-button {
  margin: 0 50px; /* Add space between buttons */
}