.text-box {
  width: calc(100% - 80px); /* Adjust the width as needed */
  margin: 20px;
  padding: 10px;
  resize: vertical; /* Allow vertical resizing */
}

.toplevel {
  display: flex; 
	justify-content: center; 
	align-items: center;
}

.additional-options-container {
  display: flex;
  justify-content: center;
}

.something {
  display: flex;
  justify-content: center;
  margin-left: 180px;
}

.additional-options-container {
  margin-top: 20px;
}

.additional-options + .additional-option-container,
.tree-container + .additional-option-container {
  margin-top: 20px;
}

.tree {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tree-container {
  width: 100%; /* Ensure full width */
  max-width: 600px; /* Adjust maximum width as needed */
  margin-top: 60px; /* Adjust top margin as needed */
 /* Center-align content */
}

.folder {
  margin-top: 20px;
}


/* Additional CSS for styling as needed */

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add space */
}

.footer-button {
  margin: 0 50px; /* Add space between buttons */
}

.disabled-text {
  color: #888; /* Use gray color for disabled text */
}

.container {
  display: flex;
  justify-content: flex-end; /* Align container to the right */
}

.navbar {
  height: 200px; /* Adjust as needed */
  max-width: 200px;
  margin-left: auto;
  background-color: #f0f0f0; /* Background color of the navbar */
  border: 1px solid #ddd; /* Border around the navbar */
  padding: 10px; /* Padding inside the navbar */
  overflow-y: auto;
}

.content {
  flex: 1;
  padding: 10px; /* Add padding to separate content from navbar */
}

.navbar ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
}

.navbar li {
  margin-bottom: 10px; /* Add space between navbar items */
}

/* .navbar a {
  text-decoration: none; /* Remove underline from links */
  /* color: #333; Link color */
  /* display: block; Make links block-level for full width */
/* } */ 

.navbar a:hover {
  background-color: #ddd; /* Background color on hover */
}
